:root{
/*Colores Pasteles*/
/*Sacados de Color Hunt*/
--1: #ff6961;
--2: #77dd77;
--3: #fdfd96;
--4: #84b6f4;
--5: #fdcae1;
--6: #7052ff;
--7: #F7ECDE;
--8: #E9DAC1;
--9: #9ED2C6;
--10: #54BAB9;
--11: #FFB3B3;
--12: #FFDBA4;
--13: #FFE9AE;
--14: #C1EFFF;
--15: #F5E8C7;
--16: #ECCCB2;
--17: #DEB6AB;
--18: #AC7088;
--19: #80558C;
--20: #AF7AB3;
--21: #CBA0AE;
--22: #E4D192;
--23: #6E85B7;
--24: #B2C8DF;
--25: #C4D7E0;
--26: #F8F9D7;
--27: #F0EBE3;
--28: #E4DCCF;
--29: #7D9D9C;
--30: #576F72;
--31: #F2D7D9;
--32: #D3CEDF;
--33: #9CB4CC;
--34: #748DA6;
--35: #CDF0EA;
--36: #F6C6EA;
--37: #FAF4B7;
--38: #FFE6E6;
--39: #F2D1D1;
--40: #DAEAF1;
--41: #C6DCE4;
--42: #C2DED1;
--43: #ECE5C7;
--44: #CDC2AE;
--45: #354259;
--46: #F4BFBF;
--47:#FFD9C0;
--48: #FAF0D7;
--49: #8CC0DE;
--50: #9A86A4;
--51: #B1BCE6;
--52: #B7E5DD;
--53: #F1F0C0;
--54: #5F7161;
--55: #6D8B74;
--56: #EFEAD8;
--57:#D0C9C0;
--58: #F9CEEE;
--59: #F9F3EE;
--60: #CCF3EE;
--61: #97C4B8;
--62: #68A7AD;
--63: #99C4C8;
--64: #E5CB9F;
--65: #EEE4AB;
--66: #F9EBC8;
--67:#FEFBE7;
--68: #DAE5D0;
--69: #A0BCC2;
--70: #F8ECD1;
--71: #DEB6AB;
--72: #AC7D88;
--73: #85586F;
--74: #E6BA95;
--75: #FAFDD6;
--76: #E4E9BE;
--77:#A2B38B;
--78: #F1DDBF;
--79: #525E75;
--80: #78938A;
--81: #92BA92;
--82: #8FBDD3;
--83: #E4D1B9;
--84: #BE8C63;
--85: #A97155;
--86: #DAB88B;
--87:#B7CADB;
--88: #ECA6A6;
--89: #9ADCFF;
--90: #FFB2A6;
--91: #BB6464;
--92: #C8F2EF;
--93: #54BAB9;
--94: #7882A4;
--95: #655D8A;
--96: #7897AB;
--97:#1572A1;
--98: #9AD0EC;
--99: #F3C5C5;
--100: #632626;

}
