/*======BASICS======*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before {
  padding: 0;
  margin:0;
    /*  Imposibilita el copiar el texto al que se aplique
  user-select: none;*/
} 

body{
  height: 100rem;
}

nav a{
  text-decoration: none;
  color: black;
/* Esto evita que los iconos del nav varíen
de posición al cambiar de una página a otra*/
  display: block;
  font-size: 0;
} 

header, nav{
font-family: 'Noto Sans Display', sans-serif;
/*font-family: 'Roboto', sans-serif; */
 } 

header{
  display: flex;
  background-color: #FFFFFF;
 } 

ul{
  list-style: none;
  } 

.header__line{
  border-bottom: 0.1rem solid black;
  }

.header__title{
  font-size: 1.4rem;
  margin: auto;
  padding: 0.15rem 0;
  }

.navbar{
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: space-around;
  border-top: 0.1rem solid black;
  transition: all 150ms ease-in-out;
  z-index: 99;
  background-color: #FFFFFF;
  }

.scroll-down .navbar{
bottom: -4rem;
 } 

 .navbar__icon img{
   width: 1.6rem;
   height: 1.6rem;
 }

li{
  display: flex;
  justify-content: center;
  align-items: center;
 }
